In [1]:
import pickle
import pandas as pd

In [4]:
header = pickle.load(open("header.p", "rb"))
header

{'AVG_TIME_BETWEEN(clicks.click_time WHERE is_attributed = True)_app_7days': 'L',
 'AVG_TIME_BETWEEN(clicks.click_time)_app_7days': 'K',
 'MEDIAN(clicks.hour.AVG_TIME_BETWEEN(clicks.click_time))_app_7days': 'R',
 'MEDIAN(clicks.hour.PERCENT_TRUE(clicks.is_attributed))_app_7days': 'Q',
 'PERCENT_TRUE(clicks.is_attributed)_app_7days': 'J',
 'SKEW(clicks.hour.AVG_TIME_BETWEEN(clicks.click_time))_app_7days': 'N',
 'SKEW(clicks.hour.PERCENT_TRUE(clicks.is_attributed))_app_7days': 'M',
 'STD(clicks.hour.AVG_TIME_BETWEEN(clicks.click_time))_app_7days': 'P',
 'STD(clicks.hour.PERCENT_TRUE(clicks.is_attributed))_app_7days': 'O',
 'app': 'B',
 'attributed_time': 'G',
 'channel': 'E',
 'click_time': 'F',
 'device': 'C',
 'hour': 'I',
 'ip': 'A',
 'is_attributed': 'H',
 'os': 'D'}

In [ ]:
target_entities_init = ['app', 'device', 'os', 'channel', 'ip', 'hour']

interactions = [
    
]

In [2]:

df = pd.read_hdf("../data/interim/features/app/features_2017-11-10_1700_7days_countall.hdf.compress")

In [4]:
df

,COUNT(clicks)_app_7days,AVG_TIME_BETWEEN(clicks.click_time)_app_7days,NUM_UNIQUE(clicks.ip)_app_7days,NUM_UNIQUE(clicks.device)_app_7days,NUM_UNIQUE(clicks.os)_app_7days,NUM_UNIQUE(clicks.channel)_app_7days
app,,,,,,
10,864299,0.399861,99453,7,141,9
138,105,2581.923077,96,4,28,1
266,6002,57.313948,130,4,4,1
394,1313,236.218750,1041,5,21,1
522,1,NaN,1,1,1,1
650,1,NaN,1,1,1,1
118,1558,221.857418,1027,5,55,4
246,383,894.117801,298,100,7,2
374,1,NaN,1,1,1,1
502,26,13583.080000,16,10,6,1
630,1,NaN,1,1,1,1
758,3,16327.000000,2,1,1,1
48,7032,49.093301,5001,6,56,4
176,1426,242.352982,1137,6,10,4
304,189,1679.106383,163,47,13,2
432,16,17819.466667,10,2,7,1
560,3,66818.500000,3,1,1,1
688,2,145.000000,1,1,1,1
100,8817,39.188975,5127,6,53,1
228,288,1069.560976,230,5,6,1
356,3,109673.000000,3,3,3,1
484,479,711.974895,375,5,16,1
612,6,28413.200000,5,3,5,3
740,2,68419.000000,2,1,1,1
23,3538883,0.097658,108928,7,156,11
151,253454,1.363539,2239,1,10,1
279,140,2427.417266,129,4,21,1
407,362,952.894737,123,5,23,1
535,45,6367.068182,40,2,2,1
663,5,43923.250000,3,1,3,1
...,...,...,...,...,...,...
12,31202352,0.011076,197968,7,441,33
140,695,490.863112,523,5,10,1
268,1159,293.907599,761,4,4,1
396,1,NaN,1,1,1,1
524,2,201289.000000,2,1,2,1
652,2,86807.000000,2,2,2,2
64,1895385,0.184919,95527,7,139,3
192,2087,165.631831,1613,435,18,3
320,275,1213.510949,32,6,22,3
448,11,30128.500000,9,1,4,1
576,10,2218.222222,5,1,1,1
704,3,15241.000000,2,1,2,1
107,28827,11.988032,13326,5,31,3
235,205,1323.740196,159,5,7,1
363,5111,66.629354,2585,5,32,1
491,10,34490.333333,8,3,3,1
619,4,52139.666667,4,2,2,1
747,1,NaN,1,1,1,1
117,12269,23.363058,5711,124,16,1
245,78,3917.974026,68,5,7,1
373,14,20557.307692,11,1,7,1
501,12,23840.363636,8,4,4,1
629,1,NaN,1,1,1,1
757,8,8.000000,1,1,1,1
24,1584864,0.218063,71734,7,213,7
152,995,347.251509,845,252,13,1
280,115,2944.938596,98,4,21,1
408,5,43271.000000,3,1,2,1
536,1370,31.337473,1290,2,19,1
664,1,NaN,1,1,1,1

In [3]:
pd.read_csv('../data/interim/day_hour_train.csv')

    day  hour      start        end
0     6    14          0         47
1     6    15         48        482
2     6    16        483    2308259
3     6    17    2308260    3571607
4     6    18    3571608    4309747
5     6    19    4309748    4806101
6     6    20    4806102    5215853
7     6    21    5215854    5725425
8     6    22    5725426    6948955
9     6    23    6948956    9308567
10    7     0    9308568   12912932
11    7     1   12912933   16221082
12    7     2   16221083   19316715
13    7     3   19316716   22536986
14    7     4   22536987   26182479
15    7     5   26182480   29409828
16    7     6   29409829   32327112
17    7     7   32327113   35251145
18    7     8   35251146   38052438
19    7     9   38052439   41013757
20    7    10   41013758   44314503
21    7    11   44314504   47448703
22    7    12   47448704   50448794
23    7    13   50448795   53684033
24    7    14   53684034   56845830
25    7    15   56845831   59709851
26    7    16   59709852   62024631
27    7    17   62024632   63287708
28    7    18   63287709   64014392
29    7    19   64014393   64507448
..  ...   ...        ...        ...
45    8    11  104524970  107955946
46    8    12  107955947  111441303
47    8    13  111441304  115057937
48    8    14  115057938  118734632
49    8    15  118734633  122070800
50    8    16  122070801  124526367
51    8    17  124526368  125913750
52    8    18  125913751  126707838
53    8    19  126707839  127261891
54    8    20  127261892  127709215
55    8    21  127709216  128259733
56    8    22  128259734  129520258
57    8    23  129520259  131886952
58    9     0  131886953  135205253
59    9     1  135205254  138288115
60    9     2  138288116  141357002
61    9     3  141357003  144708151
62    9     4  144708152  148740842
63    9     5  148740843  152412583
64    9     6  152412584  155983523
65    9     7  155983524  159169763
66    9     8  159169764  161974464
67    9     9  161974465  164960668
68    9    10  164960669  168264867
69    9    11  168264868  171612608
70    9    12  171612609  174976525
71    9    13  174976526  178434048
72    9    14  178434049  181877331
73    9    15  181877332  184903442
74    9    16  184903443  184903889

[75 rows x 4 columns]